<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../elements/user-info-form.html">

<dom-module id="account-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

    </style>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>
    <app-drawer-layout>
      <app-drawer slot="drawer">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="start" href="/account/start">Inicio</a>
          <a name="stats" href="/account/stats">Estadísiticas</a>
          <a name="users" href="/account/users">Usuarios</a>
        </iron-selector>
      </app-drawer>
      <div>
        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="start" role="main">
          <section name="start">
            <span>Inicio</span>
          </section>
          <section name="stats">
            <span></span>
          </section>
          <section name="users">
            Usuarios
          </section>
        </iron-pages>
      </div>
    </app-drawer-layout>
  </template>
  <script>
    class AccountView extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior],Polymer.Element) {
      static get is() {return 'account-view';}
      static get properties(){
        return {
          route:String,
          page:String
        }
      }
      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }
      _routePageChanged(page){
        if(page===undefined){
          return;
        }
        if(page===''){
          this.page='start';
        }else{
          this.page=page;
        }

      }

    }
    window.customElements.define(AccountView.is, AccountView);
  </script>
</dom-module>
