<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="account-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      div.card{
        @apply --shadow-elevation-2dp;
        padding: 8px;
        background-color: #fff;
      }
      .relative{
        position: relative;
      }
      div.overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0,0,0,0.3);
      }
      div.results{
        max-height: 600px;
        overflow: auto;
        margin-top: 8px;
      }
      div.results-top{
        padding: 8px;
        @apply --layout-horizontal;
      }
      div.result{
        padding: 8px;
        @apply --layout-horizontal;
        height: 32px;
        border-bottom: 1px solid rgba(0,0,0,0.3);
      }
      div.result:nth-last-child(2){
        border-bottom: 0px;
      }
    </style>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>
    <app-drawer-layout>
      <app-drawer slot="drawer">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="start" href="/account/start">Inicio</a>
          <a name="users" href="/account/users">Usuarios</a>
        </iron-selector>
      </app-drawer>
      <div>
        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="start" role="main">
          <section name="start">
            <span>Inicio</span>
          </section>
          <section name="users" class="p1 vertical">
            <span class="font-display1 self-start m1-b">Usuarios</span>
            <div class="horizontal">
              <div class="vertical flex">
                <span class="font-headline s m1-b">Filtros</span>
                <div class="card horizontal">
                  <paper-input class="m1-r" label="Email"></paper-input>
                  <paper-input class="m1-r" label="Nombre"></paper-input>
                  <paper-input class="m1-r" label="Apellido"></paper-input>
                  <paper-button raised class="accent self-center">Buscar</paper-button>
                </div>
                <div class="card results">
                  <div class="results-top">
                    <div class="flex-2">
                      <b class="font-subhead">Nombre</b>
                    </div>
                    <div class="flex-2">
                      <b class="font-subhead">Email</b>
                    </div>
                  </div>
                  <div class="result">
                    <div class="flex-2">
                      Juan Rosero
                    </div>
                    <a class="flex-2" on-tap="selectUser">
                      jfrosero@udlanet.ec
                    </a>
                  </div>
                  <div class="p1"></div>
                </div>
              </div>
              <div class="flex p1-l vertical relative">
                <div class="overlay vertical center" hidden>
                  <paper-spinner active></paper-spinner>
                </div>
                <span class="font-display1 self-end">Juan Rosero</span>
                <paper-card heading="Información">
                  <div class="card-content">
                    <span class="font-title">jfrosero@udlanet.ec</span>
                    <div class="horizontal self-end">
                      <div class="flex vertical">
                        <div class="flex"></div>
                        <span class="accent">Suscrito hasta el 12/12/2033</span>
                        <span class="error">Sin suscripción</span>
                      </div>
                      <div class="vertical">
                        <span class="font-caption">Saldo</span>
                        <span class="font-title">0.0004 BTC</span>
                      </div>
                    </div>
                  </div>
                </paper-card>
                <paper-card heading="Recomendados" class="m1-t">
                  <div class="card-content vertical">
                    <div class="horizontal">
                      <a href="" class="flex font-subhead">Juan Rosero</a>
                      <span>jfrosero@udlanet.ec</span>
                    </div>
                    <div class="horizontal">
                      <a href="" class="flex font-subhead">Juan Rosero</a>
                      <span>jfrosero@udlanet.ec</span>
                    </div>
                    <div class="horizontal">
                      <a href="" class="flex font-subhead">Juan Rosero</a>
                      <span>jfrosero@udlanet.ec</span>
                    </div>
                  </div>
                  <div class="card-content vertical">
                    <span class="font-title">Máximo de recomendados</span>
                    <div class="horizontal">
                      <paper-slider min="3" max="24" value="3" snaps step="3" pin editable class="flex"></paper-slider>
                    </div>
                  </div>
                  <div class="card-actions vertical">
                    <paper-button class="accent self-end">Actualizar</paper-button>
                  </div>
                </paper-card>
              </div>
            </div>
          </section>
        </iron-pages>
      </div>
    </app-drawer-layout>
  </template>
  <script>
    class AccountView extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior],Polymer.Element) {
      static get is() {return 'account-view';}
      static get properties(){
        return {
          route:String,
          page:String,
          results:{
            type:Array,
            statePath:'search.users.entities'
          }
        }
      }
      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }
      _routePageChanged(page){
        if(page===undefined){
          return;
        }
        if(page===''){
          this.page='start';
        }else{
          this.page=page;
        }
      }

    }
    window.customElements.define(AccountView.is, AccountView);
  </script>
</dom-module>
